body{
background-color: #e5e5e5;
margin: 0px;
}
.topbar{
width: 100%;
position: fixed;
top: 150px; 
height: 30px;
}
.topbar2{
position: fixed;
top: 0px; 
width: 100%;
height: 150px;
background-image:url(img/Top.png);
}
.center{
width: 1920%;
height: 30px;
background-color: black;
}
.botton{
text-align: center;
line-height: 30px;
width: 150px;
height: 30px;
color: white;
float: left;
font-size: 20px;
cursor: pointer;
}
.list{
position: fixed;
margin-top: 210px;
display: block;
padding:0px;
list-style:none;
width:150px;
font:14px Verdana, Arial, Helvetica, sans-serif;
height: 100%;
float: left;
}
.a1{
display: block;
line-height: 20px;
padding: 10px;
text-decoration: none;
margin-top: 15px;
margin-left: 2px;
color: black;
background:#e5e5e5;
border-radius: 3px;
border: 3px solid;
border-color: #000000;
}
.a3 {
text-decoration: none;
color: #b0d970;
}
.left {
float: left;
margin-left: 10px;
}
.size{
margin-top: 150px;
width: 500px;
margin-left: 50px;  
}
.text{
margin-top: 220px;
margin-left: 250px;
float: left;
background: rgba(249, 249, 249, 0.7);
padding: 30px;
font-size: 18px;
text-align: justify;
width: 800px;}
.copyright{
position: fixed;
background: black;
color: white;
top: 98%;
width: 1920px;
height: 30px;
}
.icon1{
margin-top: 200px;
margin-left: 20px;
display: block;
width: 60px;
height: 200px;
float: left;
}
.icon{
position: fixed;
display: block;
padding:0px;
list-style:none;
}